
<footer class="container">
    <div class="row justify-content-center">
        <div class="social col-4 col-md-1 text-center">
            <a href="https://replit.com/@joshjosey">
                <img src="media/logos/replit.png"  alt="Link to Josh's Replit page"/>
            </a>
        </div>
        <div class="social col-4 col-md-1 text-center">
            <a href="https://github.com/joshjosey">
                <img src="media/logos/github.png" alt="Link to Josh's Github page"/>
            </a>
        </div>
        <div class="social col-4 col-md-1 text-center">
            <a href="https://linkedin.com/in/josh-josey">
                <img src="media/logos/linkedin.png"  alt="Link to Josh's Linkedin page"/>
            </a>
        </div>
    </div>
</footer>