<div class="container text-center p-3">
    <div class="row justify-content-center align-items-center">
        <h1>
            Elliptic Curve Cryptography 
        </h1>
    </div>
    <div class="row justify-content-center align-items-center">
        <img src="media/projects/ecc/curve.png" alt="A photo of a elliptic curve made in Desmos online graphing calculator" style="max-width:700px;" class="w-100 h-auto rounded-5">
    </div>
    <div class="row pt-3">
        <p>
            This project implements an elliptic curve cryptography (ECC) system in MATLAB. The program allows two users to securely exchange encrypted messages using ECC-based key exchange. The encryption process involves generating a shared elliptic curve, selecting public and private keys, and performing point multiplication operations to encode and decode messages. The project demonstrates key cryptographic principles, including modular arithmetic, group operations on elliptic curves, and secure message encryption and decryption.
One of the key advantages of ECC over traditional RSA encryption is its superior security-to-key-size ratio. ECC provides significantly stronger security with much smaller key sizes compared to RSA. For instance, achieving 80-bit security requires a 1024-bit RSA key, whereas ECC achieves the same security level with just a 160-bit key. This difference becomes even more pronounced at higher security levels—256-bit security requires a massive 15,360-bit RSA key, while ECC achieves it with only 512 bits. This efficiency makes ECC more practical for modern applications, especially in environments where computational power and storage are limited
    
        </p>
    </div>
    <div class="row pt-1">
        <p>
            <strong>Category: </strong>Cryptography
        </p>
    </div>
    <div class="row pt-1">
        <p>
            <strong>Concepts: </strong>Public-Key Encryption, Elliptic Curve Mathematics, Secure Communication
        </p>
    </div>
    <div class="row pt-1">
        <p>
            <strong>Skills: </strong>Modular Arithmetic, Group Operations, Secure Key Exchange, Message Encryption/Decryption
        </p>
    </div>
    <div class="row pt-1">
        <p>
            <strong>Languages: </strong>MATLAB
        </p>
    </div>
</div>