<div class="container text-center p-3">
    <div class="row justify-content-center align-items-center">
        <h1>
            Project Title
        </h1>
    </div>
    <div class="row justify-content-center align-items-center">
        <img src="media/joshjosey.jpg" alt="A photo of Josh Josey" style="max-width:700px;" class="w-100 h-auto rounded-5">
    </div>
    <div class="row pt-3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tincidunt eros. Phasellus placerat orci et erat fermentum, eget ultricies mi luctus. Integer fermentum orci ac risus elementum, vel scelerisque nisl luctus. Curabitur sagittis feugiat libero, non dapibus libero fringilla vel. Nam condimentum urna sed ligula efficitur, at luctus nunc fringilla. Aliquam erat volutpat. Donec posuere, risus sed congue sodales, eros turpis tristique nunc, ut dapibus purus purus et justo. Proin nec velit vestibulum, vulputate magna vel, vehicula urna. Etiam vitae fermentum libero, vel consequat ex.

            Vestibulum tristique justo eu purus finibus, sit amet interdum erat aliquam. Nulla in posuere sapien. Donec et neque eu mauris pharetra auctor. Fusce viverra auctor ex, a gravida orci volutpat ut. Integer condimentum interdum nunc. Etiam interdum metus ut odio laoreet, a tempor justo lacinia. Nam pretium ante in felis tincidunt, id tincidunt purus ultricies. Sed auctor laoreet metus ac malesuada. Aliquam erat volutpat. Donec malesuada tortor orci, et euismod eros varius a. Curabitur ut nulla eu felis tempor sollicitudin sit amet id ante
        </p>
    </div>
    <div class="row pt-3">
        <p>
            <strong>Category: </strong>
        </p>
    </div>
    <div class="row pt-3">
        <p>
            <strong>Concepts: </strong>
        </p>
    </div>
    <div class="row pt-3">
        <p>
            <strong>Languages: </strong>
        </p>
    </div>
</div>